/*--------Reset CSS----------*/
/*---------------------------*/

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}



/*-------code for smooth scrolling and hiding the scrollbar for multiple browsers---------*/

/*allows for smooth scrolling and hides scrollbar for firefox*/
html{
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
}

/*hides scrollbars for chrome, edge, ie, but not firefox*/
.disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
      
.disable-scrollbars {
    -ms-overflow-style: none;  /* IE 10+ */
}



/*------------Body font------------*/
/*---------------------------------*/

body{
    font-family: 'Oswald', sans-serif;
    color: #ced4da;
    background-color: #343a40;
}




/*---Extra small (BASE STYLE) mobile devices---*/
/*-------------------------*/
/*this is the base styling used for all device sizes, if there are animations or different font-sizes, they will be added on at the other media queries, you don't need to re-specify display:flex, height: 100vh, etc, for every media query*/




/*---------Navbar Styles---------*/
/*-------------------------------*/


/* use code below to change color of bootstrap default hamburger icon*/

.navbar-toggler:focus, .navbar-toggler{
    border: none;
    box-shadow: none; /*getting rid of box-shadow when you click on hamburger icon*/
}

.navbar-toggler{
    padding-right: 5px;
    padding-top: 0;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(59, 201, 219, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse{
    margin-right: 7px;
}

.nav-link:link, .nav-link:visited{
    color: #3bc9db;
}

.nav-link:hover, .nav-link:active{
    color: #0b7285;
}



/*-------Home Page Styles--------*/
/*-------------------------------*/
.home-page{
    display: flex;
    height: calc(100vh - 56px); /*56px is height of navbar*/
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-page-content h1{
    font-family: 'Lobster', cursive;
    font-size: 64px;
    color: #e9ecef;
}

.home-page-content h2{
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    color: #3bc9db;
}


/*------Project Section Styles------*/
/*----------------------------------*/

.projects{
    display: flex;
    flex-direction: column;
}

/*General tip, don't really use responsive or relative units for height or elements and spacing will change whenever you change the screen size*/

.project{
    width:70%;
    margin: 0 auto;
    padding-top: 25px;
}

.project-content{
    
    box-shadow: 0 10px 20px rgba(255,255,255,0.2);
    cursor: pointer;
    background-color: #212529;
}

.project-content:hover, .project-content:active{
    box-shadow: 0 10px 20px rgba(59,201,219,0.5);
}

.project-description{
    padding: 5px;
}

.project-description p{
    color: #3bc9db;
}

.project-description p{
    line-height: 0.1rem;
    font-size: 0.93rem;
}

.project img {
    width: 100%;
    height: auto;
}



/*----About Me Section Styles----*/
/*-------------------------------*/


.about-me-content{
    display: flex;
    flex-direction: column;
    margin: 50px 30px 0 30px;
    /* box-shadow: 0 10px 20px rgba(255,255,255,0.2); */
}

.about-me-content img{
    margin: 40px;
    border-radius: 50%;
    
}

/* I think the layout looks fine all the way up til tablets, I think for tablets I will start adding animations, then at laptops I will make two columns */



@media (min-width: 600px) {

/*-----About Me-----*/
/*------------------*/

.about-me{
    width: 80%;
    margin: 0 auto;
}

}


/*this media query is only used for the AOS library to not trigger animations when width < 767px*/
 @media(max-width: 768px){ 
    .project-content[data-aos=fade-left], .project-content[data-aos=fade-right], .about-me[data-aos=fade-up] {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


/*---Breakpoint for tablets---*/
/*----------------------------------*/
@media (min-width: 768px) {


/*----Navbar----*/
/*--------------*/

.navbar-toggler{
    padding-right: 10px;
    padding-top: 0;
}

.navbar-collapse{
    margin-right: 12px;
}

/*--------Home Page---------*/
/*--------------------------*/

@keyframes slide-up{
    0% {transform: translateY(70px); opacity:0;}
    100% {transform: translateY(0); opacity:1;}
}

@keyframes fade-up{
    0% {opacity: 0; transform: translateY(70px);}
    50% {opacity: 0; transform: translateY(70px);}
    100% {opacity: 1; transform: translateY(0);}
}

@keyframes fade-in{
    0%{opacity:0;}
    100%{opacity:1;}
}

.home-page-content h1{
    animation: slide-up 0.5s;
    font-size: 96px;
}

.home-page-content h2{
    animation: fade-up 1s;
    font-size: 48px;
}

.project-content{
    animation: fade-in 1s;
}




}


/*----Breakpoint for small laptops----*/

@media (min-width: 992px){
    .about-me{
        width: 70%;
        margin: 0 auto;
    }
}


/*----Breakpoint for laptops/desktops----*/

@media (min-width: 1200px){
    .projects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .project{
        width:75%;
    }

    .about-me{
        width: 60%;
        margin: 0 auto;
    }
}